:root {
  --main-color: #000;
  --light-color: #fff;
  --header-link: #757575;
  --light-header: #ffffffb3;
  --line-color: #e5e5e5;
  --shadow-color: #f3f3f3;
  --back-color: #0d72b9;
  --line-main-color: #0003;
  --plus-table: #094;
  --minus-table: #d00;
  --playoffs-eliminated: #979ba7;
  --stats-line: #d1d1d1;
  --font-main: "Oswald";
  --font-link: "Roboto Condensed";
  --font-table: "Schibsted Grotesk";
  --font-fits: "Niconne";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img,
svg,
a {
  display: block;
}

a,
li {
  inline-size: max-content;
}

a:focus,
button:focus {
  outline: none;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 0 auto;
  font-family: var(--font-main);
  max-inline-size: 1280px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  grid-row: span 10;
  padding: 60px 0 0 40px;
  background: var(--light-color);
  inline-size: 130px;
  block-size: max-content;
}

.fox_sports_logo {
  color: var(--main-color);
  inline-size: 69px;
}

.header__open__navigation {
  margin: 54px 0 80px;
  font-family: var(--font-link);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.dialog__list li {
  inline-size: 100%;
}

.header__open__navigation li:last-child {
  margin-block-start: 12px;
}

.header__open__navigation li:last-child::before {
  content: "";
  display: block;
  border-block-start: 1px solid var(--line-color);
  padding-block-start: 12px;
  inline-size: 25px;
  block-size: 1px;
}

.header__open__navigation a {
  display: flex;
  align-items: center;
  color: var(--header-link);
  transition: color 0.25s ease;
  block-size: 40px;
}

.header__follow a {
  display: inline;
  color: var(--header-link);
  font-family: var(--font-link);
  font-size: 11px;
  cursor: default;
}

.dialog__list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px;
  color: var(--header-link);
  font-size: 23px;
  text-transform: uppercase;
  transition: background 0.25s ease;
  inline-size: 100%;
  block-size: 70px;
}

.header__open__navigation a:hover {
  color: var(--main-color);
}

.search_logo {
  margin: 1px 0 0 2px;
  color: currentColor;
  inline-size: 11px;
}

.arrow_logo {
  margin-inline-start: 2px;
  color: currentColor;
  transition: margin-inline-start 0.15s ease-out;
  inline-size: 16px;
}

.header__open__navigation li:last-child a:hover .arrow_logo {
  margin-inline-start: 7px;
}

.header__follow {
  line-height: 14.96px;
}

.header__follow button {
  display: block;
  margin-block-end: 13px;
  border: none;
  border-radius: 50%;
  background: #f0f0f0;
  background-image: url(https://svgshare.com/i/16Kg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
  inline-size: 56px;
  block-size: 56px;
}

.header__hidden__logo {
  display: none;
  margin: 0 auto;
  block-size: 40px;
  inline-size: 40px;
}

.header__hidden {
  display: none;
  align-items: center;
  gap: 20px;
}

.header__favorites {
  color: var(--main-color);
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}

.star_logo {
  margin: 0 auto;
  inline-size: 16px;
}

.header__hidden button,
.dialog__icons button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.three_lines_logo {
  color: var(--main-color);
  inline-size: 25px;
}

.hidden_menu {
  margin: 0;
  border: none;
  padding: 0;
  max-inline-size: 438px;
  inline-size: 100%;
  block-size: 100vh;
}

.hidden_menu::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog__block {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px;
  background: var(--light-color);
  inline-size: 100%;
  grid-template: repeat(3, auto) / repeat(2, auto);
}

.fox_sports_logo_dialog {
  color: var(--main-color);
  inline-size: 40px;
  block-size: 90px;
}

.dialog__icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
}

.dialog__icon {
  inline-size: 20px;
}

.dialog__navigation {
  grid-column: span 2;
  margin: 12px 0 0 -54px;
  inline-size: calc(100% + 108px);
}

.dialog__navigation:last-child::before {
  content: "";
  display: block;
  border-block-start: 1px solid var(--line-color);
  padding-block-start: 12px;
  inline-size: 100%;
  block-size: 1px;
}

.dialog__list a:hover {
  color: var(--main-color);
  background: var(--shadow-color);
}

.dialog__navigation:last-child a::after {
  content: "";
  display: block;
  background: url(https://svgshare.com/i/16Kt.svg) center/contain no-repeat;
  inline-size: 12px;
  block-size: 12px;
}

.main {
  display: flex;
  margin-inline-start: 97px;
}

.main__color {
  position: sticky;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 60px;
  border-radius: 5px;
  padding: 55px 50px;
  background: var(--back-color);
  inline-size: 362px;
  block-size: 630px;
}

.main__logo {
  block-size: 175px;
  inline-size: 175px;
}

.main__title {
  padding: 15px 15px 0;
  color: var(--light-color);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 50px;
  border: 2px solid rgb(255 255 255 / 0.5);
  border-radius: 27.5px;
  color: var(--light-color);
  font-family: var(--font-main);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  max-inline-size: 225px;
  block-size: 55px;
  inline-size: 173px;
}

.main__button:hover {
  border: 2px solid var(--light-color);
}

.main__button:focus .button__text::after {
  content: "ing";
}

.button__star {
  color: transparent;
  transition: 0.3s;
  inline-size: 15px;
}

.main__button:hover .button__star,
.main__button:focus .button__star {
  color: var(--light-color);
}

.menu {
  margin-inline-start: 60px;
  inline-size: 530px;
}

.menu__sticky {
  position: sticky;
  top: 0;
  z-index: 99;
  padding-block-start: 60px;
  background: var(--light-color);
}

.menu_navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-block-end: 1px solid var(--line-main-color);
  overflow-x: auto;
}

.menu_navigation::-webkit-scrollbar {
  display: none;
  width: 0;
}

.menu__button {
  position: relative;
  display: block;
  border: none;
  padding: 0 0 24px;
  color: var(--header-link);
  font-family: var(--font-main);
  font-weight: 450;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: transparent;
  transition: color 0.25s ease;
  cursor: pointer;
  white-space: nowrap;
}

.menu__button:hover,
.menu__button:focus {
  border-block-end: 2px solid var(--main-color);
  padding: 0 0 22px;
  color: var(--main-color);
}

.menu__button label {
  cursor: pointer;
}

.input,
.input ~ .chapter {
  display: none;
}

.input:checked ~ .chapter {
  display: block;
}

.standings,
.playoffs,
.stats,
.awards {
  margin-block-end: 25px;
}

.standings__title {
  padding: 30px 0 40px;
  font-weight: 450;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.standings__table {
  inline-size: 100%;
  border-collapse: collapse;
}

.start__five__table {
  color: var(--main-color);
  border-collapse: collapse;
}

.standings__table td {
  border-block-end: 1px solid var(--line-color);
}

.eliminated td {
  border: none;
}

.last td {
  border: none;
}

.start__five__table__last td {
  border: none;
}

.standings__table td:nth-child(2) {
  padding-inline-start: 5px;
}

.standings__table td:nth-child(3) {
  font-weight: 500;
  font-size: 18px;
}

.standings__table th {
  border-block-end: 1px solid var(--line-color);
}

.eliminated th,
.last th {
  border: none;
}

.start__five__table__last th {
  border: none;
}

.start__five__table th {
  border-block-end: 2px solid var(--main-color);
}

.standings__table th:first-child {
  padding: 0 6px 13px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.standings__table td:first-child {
  padding: 0 6px 0 15px;
  color: var(--header-link);
  font-family: var(--font-table);
  font-size: 11px;
  min-inline-size: 21px;
  block-size: 82px;
}

.standings__table td:nth-child(1n + 4) {
  padding: 0 5px;
  font-family: var(--font-table);
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.eastern tr:nth-child(1n + 9) td:last-child {
  color: var(--minus-table);
}

.western tr:nth-child(1n + 12) td:last-child {
  color: var(--minus-table);
}

.eastern tr:nth-child(1n + 1):not(:nth-child(1n + 9)) td:last-child {
  color: var(--plus-table);
}

.eliminated {
  background-image: none, none, none,
    repeating-linear-gradient(
      249deg,
      var(--header-link),
      var(--header-link) 10px,
      transparent 10px,
      transparent 18px,
      var(--header-link) 18px
    );
  background-repeat: no-repeat;
  background-position:
    0 0,
    0 100%;
  background-size:
    1px 100%,
    100% 1px;
}

.standings__table th:not(:first-child) {
  padding: 0 5px 13px;
  color: var(--header-link);
  font-family: var(--font-table);
  font-weight: 400;
  font-size: 11px;
  text-align: right;
}

.table__logo {
  inline-size: 38px;
}

.western tr:nth-child(1n + 1):not(:nth-child(1n + 12)) td:last-child {
  color: var(--plus-table);
}

.playoffs__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.eastern__conference,
.western__conference {
  position: relative;
  display: grid;
  grid-template-columns: auto 0.5fr 0.5fr auto 1fr auto;
  align-items: center;
  margin-inline-start: 45px;
  padding: 0 5px 0 10px;
}

.western__conference {
  border-inline-start: 2px solid #ec174c;
}

.eastern__conference {
  border-inline-start: 2px solid #006bb6;
}

.first__round,
.semifinals,
.conference__finals {
  position: relative;
}

.conference__logo {
  position: absolute;
  top: 45%;
  right: 100%;
  margin-inline-end: 20px;
  object-fit: contain;
  object-position: center;
  inline-size: 35px;
  block-size: 35px;
}

.western__conference::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  border-radius: 1px;
  background: #ec174c;
  block-size: 2px;
  inline-size: 8px;
}

.western__conference::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  border-radius: 1px;
  background: #ec174c;
  block-size: 2px;
  inline-size: 8px;
}

.eastern__conference::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  border-radius: 1px;
  background: #006bb6;
  block-size: 2px;
  inline-size: 8px;
}

.eastern__conference::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  border-radius: 1px;
  background: #006bb6;
  block-size: 2px;
  inline-size: 8px;
}

.two__teams {
  border: 1px solid var(--line-color);
  border-radius: 10px;
  overflow: hidden;
  inline-size: max-content;
}

.first__round__up .two__teams {
  margin-block-end: 10px;
}

.first__round__down .two__teams {
  margin-block-start: 10px;
}

.final .two__teams {
  margin: 0 auto;
}

.playoffs__grid .first__round .two__teams:not(:last-child) {
  margin-block-end: 10px;
}

.first__round,
.table_lines,
.semifinals,
.playoffs__grid .conference__finals {
  margin: 20px 0;
  padding-block-start: 10px;
}

.finals__before,
.semifinals__before {
  margin-block-start: 10px;
}

.stage__name {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10;
  color: var(--playoffs-eliminated);
  font-weight: 450;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: var(--light-color);
  inline-size: 100%;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 110px;
}

.final__logo {
  margin: 5px auto;
  object-fit: contain;
  object-position: center;
  inline-size: 90px;
}

.team__next {
  color: var(--light-color);
}

.team__okc {
  background: #007ac1;
}

.team__dal {
  background: #00538c;
}

.team__min {
  background: #0c2340;
}

.team__den {
  background: #0e2240;
}

.team__bos {
  background: #007a33;
}

.team__cle {
  background: #71243c;
}

.team__ind {
  background: #002d62;
}

.team__ny {
  background: #006bb6;
}

.team__lal {
  background: #31006f;
}

.team__sac {
  background: #5a2d81;
}

.team__no {
  background: #0c2340;
}

.team__76 {
  background: #006bb6;
}

.team__chi {
  background: #ce1141;
}

.team__mia {
  background: #98002e;
}

.team__logo {
  overflow: hidden;
  inline-size: 30px;
  block-size: 30px;
}

.team__logo img {
  object-fit: cover;
  object-position: center;
  transform: translate(-12px, -12px);
  inline-size: 54px;
  block-size: 54px;
}

.team__place {
  font-family: var(--font-table);
  font-size: 11px;
  line-height: 27px;
}

.team__name {
  font-weight: 550;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.team__wins {
  margin-inline-end: 4px;
  font-weight: 550;
  font-size: 16px;
}

.team__eliminated {
  color: var(--playoffs-eliminated);
}

.image__eliminated {
  filter: opacity(0.6);
}

.name__eliminated {
  text-decoration: line-through;
}

.table_lines {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.table_lines span {
  border: 2px solid var(--line-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-inline-start: none;
  block-size: 73px;
}

.semifinals__before {
  border-block-start: 2px solid var(--line-color);
  border-block-end: 2px solid var(--line-color);
  block-size: 144px;
}

.semifinals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semifinals__between {
  display: flex;
  flex-direction: column;
  align-items: end;
  inline-size: 100%;
}

.first__round__down span {
  align-self: start;
  border-bottom-right-radius: 5px;
  border-inline-end: 2px solid var(--line-color);
  border-block-end: 2px solid var(--line-color);
  inline-size: 50px;
  block-size: 50%;
}

.first__round__up span {
  position: relative;
  align-self: end;
  border-top-right-radius: 5px;
  border-inline-end: 2px solid var(--line-color);
  border-block-start: 2px solid var(--line-color);
  inline-size: 50px;
  block-size: 50%;
}

.semifinals__between span:first-of-type {
  border-inline-start: 2px solid var(--line-color);
  border-block-end: 1px solid var(--line-color);
  inline-size: 50%;
  block-size: 40px;
}

.semifinals__between span:last-of-type {
  border-inline-start: 2px solid var(--line-color);
  border-block-start: 1px solid var(--line-color);
  inline-size: 50%;
  block-size: 40px;
}

.finals__before {
  border-block-start: 1px solid var(--line-color);
  border-block-end: 1px solid var(--line-color);
  block-size: 0;
}

.conference__finals__up::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-inline-start: 2px solid var(--line-color);
  border-inline-end: 1px solid var(--line-color);
  inline-size: 0;
  block-size: 122px;
}

.conference__finals__down::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-inline-start: 2px solid var(--line-color);
  border-inline-end: 1px solid var(--line-color);
  inline-size: 0;
  block-size: 122px;
}

.final {
  position: absolute;
  top: 41%;
  right: 0;
  z-index: 11;
  background: var(--light-color);
}

.final .team {
  inline-size: 120px;
}

.final__lines {
  display: none;
  margin: 0 auto;
  inline-size: 20px;
}

.final__lines span:first-of-type {
  border-inline-end: 1px solid var(--line-color);
  border-block-end: 2px solid var(--line-color);
  inline-size: 50%;
  block-size: 66px;
}

.final__lines span:last-of-type {
  border-inline-start: 1px solid var(--line-color);
  border-block-end: 2px solid var(--line-color);
  inline-size: 50%;
  block-size: 66px;
}

.playin__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 90px;
}

.playin__grid .stage__name {
  top: 65px;
  background: transparent;
}

.playin__conference,
.playin__reverse {
  display: flex;
  flex-direction: column;
}

.playin__logo {
  margin-block-end: 15px;
  object-fit: contain;
  object-position: center;
  inline-size: 100px;
  block-size: 35px;
}

.first__round__up,
.first__round__down {
  display: flex;
}

.playin__conference .first__round__up span::after {
  content: "7/8 Loser vs. 9/10 Winner";
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: none;
  margin-inline-start: 10px;
  color: var(--playoffs-eliminated);
  font-weight: 450;
  font-size: 12px;
  text-transform: uppercase;
  inline-size: 60px;
}

.playin__conference .conference__finals {
  align-self: end;
}

.playin__reverse .first__round__up,
.playin__reverse .first__round__down,
.playin__reverse .playin__logo {
  flex-direction: row-reverse;
  align-self: end;
}

.playin__reverse .first__round__up span,
.playin__reverse .first__round__down span {
  transform: scaleX(-1);
}

.playin__reverse .first__round__up span::after {
  content: "7/8 Loser vs. 9/10 Winner";
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: none;
  margin-inline-start: 10px;
  color: var(--playoffs-eliminated);
  font-weight: 450;
  font-size: 12px;
  text-align: end;
  text-transform: uppercase;
  transform: scaleX(-1);
  inline-size: 60px;
}

.playin__reverse .conference__finals {
  align-self: start;
}

.stats__title {
  margin: 50px 0 14px;
  border-block-end: solid 1px var(--line-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.stats__title:first-of-type {
  margin: 50px 0 14px;
}

.stats__title:last-of-type {
  margin: 25px 0 14px;
}

.player__stats,
.team__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.player__stats__card {
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  transition: background 0.2s;
  cursor: pointer;
  inline-size: 240px;
}

.player__stats__card:nth-child(even) {
  justify-self: end;
}

.player__stats__card:hover {
  background: #f0f0f0;
}

.player__stats .player__stats__card:not(:nth-child(1n + 11))::after,
.team__stats .player__stats__card:not(:nth-child(1n + 9))::after,
.player__awards__card:not(:nth-child(1n + 9))::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  border-block-end: 1px solid var(--line-main-color);
  inline-size: 100%;
}

.stats__card__title {
  padding-block-end: 25px;
  font-weight: 450;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.stats__card__title::after {
  content: "";
  display: inline-block;
  margin-inline-start: 2px;
  background: url(https://svgshare.com/i/16Ti.svg) center/contain no-repeat;
  transition: transform 0.15s ease-out;
  inline-size: 16px;
  block-size: 16px;
}

.player__stats__card:hover .stats__card__title::after {
  transform: translateX(5px);
}

.stats__card__main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
}

.stats__card__photo {
  grid-row: 1/3;
  border: solid 1px var(--stats-line);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  inline-size: 70px;
  block-size: 70px;
}

.stats__card__lastname,
.player__awards__lastname {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 450;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.long__name {
  inline-size: min-content;
}

.stats__card__team {
  display: flex;
  align-items: center;
  align-self: start;
  text-transform: uppercase;
}

.stats__card__team::before {
  content: "";
  margin-inline-end: 5px;
  border-radius: 2px;
  background: black;
  inline-size: 2px;
  block-size: 2px;
}

.stats__card__number {
  font-size: 54px;
  line-height: 1;
}

.stats__card__value {
  display: inline-block;
  margin-inline-start: 5px;
  color: var(--header-link);
  font-family: var(--font-table);
  font-size: 11px;
  text-transform: uppercase;
  inline-size: min-content;
}

.stats__card__double__photo {
  grid-row: 1/3;
  border: solid 1px var(--stats-line);
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-45deg);
  inline-size: 70px;
  block-size: 70px;
}

.stats__card__up__photo {
  border-block-end: solid 1px var(--stats-line);
  overflow: hidden;
  inline-size: 70px;
  block-size: 35px;
}

.double__photo {
  object-fit: cover;
  object-position: center;
  transform: translateY(-17px) rotate(45deg);
  inline-size: 70px;
  block-size: 70px;
}

.stats__card__down__photo {
  overflow: hidden;
  inline-size: 70px;
  block-size: 35px;
}

.player__awards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 40px;
  margin-block-start: -20px;
}

.player__awards__card {
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
}

.player__awards__title {
  padding-block-end: 25px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.player__awards__main {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player__awards__photo {
  align-self: start;
  border: solid 1px var(--stats-line);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  inline-size: 80px;
  block-size: 80px;
}

.player__awards__lastname,
.all__team__lastname {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 450;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.player__awards__team {
  object-fit: contain;
  object-position: center;
  inline-size: 25px;
  block-size: 25px;
}

.player__awards__what {
  display: inline-block;
  color: var(--header-link);
  font-family: var(--font-table);
  font-size: 14px;
}

.player__awards__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  column-gap: 5px;
}

.player__awards__number {
  font-weight: 500;
  font-size: 18px;
}

.player__awards__value {
  display: inline-block;
  margin-inline-end: 5px;
  color: var(--header-link);
  font-family: var(--font-table);
  font-size: 14px;
  text-transform: uppercase;
}

.all__teams__title {
  border-block-end: solid 1px var(--stats-line);
  padding: 10px 0 13px;
  font-weight: 450;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.all__team {
  margin-block-end: 30px;
}

.all__team__player {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding: 20px 0;
}

.all__team__player:nth-child(odd) {
  background: var(--shadow-color);
}

.all__team__photo {
  margin-inline-end: 15px;
  border: solid 1px var(--stats-line);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  inline-size: 60px;
  block-size: 60px;
}

.all__team__position,
.all__team__name {
  margin-inline-start: 5px;
  font-family: var(--font-table);
  font-size: 14px;
  text-transform: uppercase;
}

.all__team__club {
  display: flex;
  align-items: center;
}

.all__team__img {
  object-fit: contain;
  object-position: center;
  inline-size: 30px;
  block-size: 26px;
}

.start5 {
  padding-block-start: 40px;
}

.team__start__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-block-end: 1px solid var(--line-color);
  padding: 0 2px 0 10px;
  transition: background 0.2s;
  cursor: pointer;
}

.team__start__image:hover {
  background: #f0f0f0;
}

.team__start__image::after {
  content: "";
  background: url(https://svgshare.com/i/16fd.svg) center/contain no-repeat;
  transition: rotate 0.35s ease-out;
  inline-size: 12px;
  block-size: 12px;
  rotate: 90deg;
}

.team__start[open] .team__start__image::after {
  rotate: -90deg;
}

.team__start__logo {
  inline-size: 36px;
}

.team__start__title {
  margin-right: auto;
  padding: 27px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.start__five {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.start__five__photo {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.start__five__table__wrapper {
  position: absolute;
  z-index: 11;
  margin-inline: auto;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  inset-inline: 0;
  inset-block-start: 55%;
  inline-size: max-content;
}

.start__five__table .table__head {
  font-family: var(--font-table);
  font-weight: 750;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.table__player__name {
  padding-inline-start: 5px;
  font-weight: 550;
  font-size: 18px;
  block-size: 31px;
}

.table__up {
  margin-inline-start: 5px;
  vertical-align: text-top;
  font-family: var(--font-table);
  font-size: 11px;
}

.start__five__table .table__text {
  padding: 0 10px;
  font-family: var(--font-table), sans-serif;
  font-weight: 450;
}

.table__text:nth-child(2) {
  text-transform: uppercase;
}

.table__text:not(:last-of-type) {
  text-align: center;
}

.table__text:last-of-type {
  text-align: end;
}

.fits__title {
  padding-block-start: 30px;
  font-weight: 450;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.fits__author {
  display: flex;
  align-items: end;
  gap: 10px;
  margin: 15px 0 40px;
}

.fits__link__logo {
  inline-size: 95px;
}

.fits h3 {
  padding-block-end: 20px;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.02em;
}

.fits__card,
.fits__card__ten,
.fits__card__personal {
  position: relative;
  inline-size: 100%;
}

.fits__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(
    rgb(255 255 255 / 0) 55%,
    rgb(255 255 255 / 0.7) 80%,
    rgb(255 255 255 / 1) 90%
  );
  inline-size: 100%;
  block-size: 100%;
}

.fits__team {
  inline-size: 100%;
}

.fits__names {
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
}

.fits__name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  white-space: nowrap;
}

.fits__firstname {
  font-family: var(--font-fits);
  font-size: 30px;
}

.fits__card__personal::before {
  content: "";
  position: absolute;
  top: bottom;
  left: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(
    rgb(255 255 255 / 0) 70%,
    rgb(255 255 255 / 1) 95%
  );
  inline-size: 100%;
  block-size: 100%;
}

.fits__name__personal {
  position: absolute;
  bottom: 4%;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  inline-size: 100%;
  white-space: nowrap;
}

.fits__firstname__personal {
  font-family: var(--font-fits);
  font-size: 50px;
  text-transform: capitalize;
  text-shadow: 0 6px 2px rgb(0 0 0 / 0.6);
}

.fits__card__ten::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(
    rgb(255 255 255 / 0) 65%,
    rgb(255 255 255 / 1) 90%
  );
  inline-size: 100%;
  block-size: 50%;
}

.fits__card__ten::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(
    rgb(255 255 255 / 0) 65%,
    rgb(255 255 255 / 1) 90%
  );
  inline-size: 100%;
  block-size: 50%;
}

.fits__groups {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: grid;
  align-items: end;
  inline-size: 100%;
  block-size: 100%;
  grid-template: repeat(2, auto) / repeat(5, 1fr);
}

.fits__groups__names {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 21px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  margin: 75px 0 50px 97px;
  inline-size: 952px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  border-block-start: 1px solid var(--line-main-color);
  padding-block-start: 26px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.footer__navigation__link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--main-color);
  font-family: var(--font-link);
  font-size: 11px;
  line-height: 15px;
}

.footer__navigation__logo {
  object-fit: contain;
  object-position: center;
  inline-size: 20px;
  block-size: 20px;
}

.footer__text {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-column-gap: 163px;
  grid-row-gap: 5px;
}

.footer__copyright {
  padding-block-start: 5px;
  color: var(--header-link);
  font-family: var(--font-table);
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.5px;
}

.social__media {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  inline-size: 392px;
}

.social__media__logo {
  object-fit: contain;
  object-position: center;
  filter: grayscale(1);
  transition: filter 0.3s;
  inline-size: 22px;
  block-size: 22px;
}

.social__media__link:hover .social__media__logo {
  filter: grayscale(0);
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__links {
  align-self: end;
}

.footer__links__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 13px;
}

.footer__link {
  color: var(--main-color);
  font-family: var(--font-table);
  font-size: 11px;
  line-height: 2;
}

@media (max-width: 1279px) {

  body {
    display: flex;
    flex-direction: column;
  }

  .header {
    top: -1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 26px 0;
    inline-size: 930px;
  }

  .fox_sports_logo {
    inline-size: 40px;
  }

  .header__navigation,
  .header__follow {
    display: none;
  }

  .header__hidden {
    display: flex;
    justify-self: end;
  }

  .main {
    margin: 0 auto;
    inline-size: 930px;
  }

  .main__color {
    top: 83px;
    margin-block-start: 0;
    block-size: 533px;
  }

  .menu {
    inline-size: 500px;
  }

  .menu__sticky {
    top: 82px;
    padding: 0;
  }

  .player__awards__photo {
    inline-size: 55px;
    block-size: 55px;
  }

  .footer {
    margin: 75px auto 50px;
    inline-size: 930px;
  }

  .social__media {
    inline-size: 362px;
  }
}

@media (max-width: 1023px) {

  .header {
    grid-template-columns: 1fr 50px 1fr;
    margin: 0;
    padding: 26px 110px;
    background: var(--back-color);
    inline-size: 100%;
  }

  .fox_sports_logo,
  .header__favorites,
  .three_lines_logo {
    color: var(--light-color);
  }

  .header__hidden__logo,
  .playin__conference .first__round__up span::after,
  .playin__reverse .first__round__up span::after {
    display: block;
  }

  .main {
    position: relative;
    display: block;
    margin: 0;
    inline-size: 100%;
  }

  .main::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 42vw;
    z-index: 101;
    display: block;
    background: var(--back-color);
    inline-size: 100px;
    block-size: 150px;
  }

  .main__color {
    position: relative;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
    padding: 60px 110px 50px;
    inline-size: 100%;
    block-size: auto;
  }

  .main__logo {
    block-size: 110px;
    inline-size: 110px;
  }

  .main__title {
    margin-right: auto;
    padding: 0 15px;
  }

  .main__button {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    inline-size: min-content;
    block-size: max-content;
  }

  .main__button:hover {
    border: 0;
  }

  .team__place,
  .stage__name,
  .playin__reverse .first__round__up span::after,
  .playin__conference .first__round__up span::after {
    font-size: 9px;
  }

  .button__text,
  .playin__grid .stage__name {
    display: none;
  }

  .button__star {
    inline-size: 25px;
    block-size: 25px;
  }

  .menu {
    margin: 0;
    inline-size: 100%;
  }

  .menu__sticky {
    top: 91px;
    border-block-start: 1px solid #ffffff1a;
    background: var(--back-color);
  }

  .menu_navigation {
    padding: 0 110px;
    gap: 20px;
  }

  .menu__button {
    padding: 21px 0 24px;
    color: var(--light-header);
    font-size: 23px;
    line-height: 20.01px;
  }

  .menu__button:hover,
  .menu__button:focus {
    border-block-end: 2px solid var(--light-color);
    padding: 21px 0 22px;
    color: var(--light-color);
  }

  .standings,
  .playoffs {
    padding: 0 110px;
  }

  .team__name,
  .team__wins {
    font-size: 11px;
  }

  .team {
    inline-size: 85px;
  }

  .final__logo {
    inline-size: 70px;
  }

  .playoffs__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
  }

  .western__conference {
    grid-template-columns: auto 1fr 1fr auto 0.5fr auto;
    margin-inline-start: -10px;
    padding: 0 0 0 10px;
  }

  .eastern__conference {
    grid-template-columns: auto 1fr 1fr auto 0.5fr auto;
    grid-auto-flow: dense;
    margin-inline-start: -10px;
    padding: 0 10px 0 0;
    direction: rtl;
  }

  .conference__finals__up::after,
  .conference__finals__down::after {
    display: none;
  }

  .final__lines {
    display: flex;
  }

  .final {
    top: -10px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
  }

  .eastern__conference .team__logo img {
    transform: translate(12px, -12px);
  }

  .eastern__conference::before,
  .eastern__conference::after {
    right: -5px;
    left: auto;
  }

  .eastern__conference .team__wins {
    margin-inline-start: 4px;
  }

  .eastern__conference .conference__logo {
    right: auto;
    left: 100%;
  }

  .eastern__conference .team {
    flex-direction: row-reverse;
  }

  .eastern__conference .table_lines span {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .playoffs__grid .team {
    inline-size: 75px;
  }

  .final .team {
    inline-size: 95px;
  }

  .playin__grid {
    gap: clamp(12.5rem, -15.5884rem + 58.5938vw, 21.875rem);
  }

  .stats,
  .team__start {
    margin: 0 110px;
  }

  .stats__card__title {
    font-size: 14px;
  }

  .player__stats__card {
    inline-size: 250px;
  }

  .player__stats__card:hover {
    background: transparent;
  }

  .player__stats__card:hover .stats__card__title::after {
    transform: translateX(0);
  }

  .awards,
  .fits {
    margin: 0 110px;
  }

  .player__awards__photo {
    inline-size: 80px;
    block-size: 80px;
  }

  .footer {
    padding: 0 110px;
    inline-size: 100%;
  }

  .social__media {
    inline-size: 274px;
  }

  .footer__text {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 34px;
  }
}

@media (max-width: 767px) {

  .header {
    padding: 26px 25px;
  }

  .main::before {
    inline-size: 70px;
  }

  .main__color {
    padding: 50px 25px;
  }

  .main__logo {
    block-size: 56px;
    inline-size: 56px;
  }

  .main__title {
    font-size: 23px;
    line-height: 25px;
  }

  .menu_navigation {
    padding: 0 25px;
    gap: 25px;
    background: var(--back-color);
  }

  .standings__table td:nth-child(1n + 7),
  .standings__table th:nth-child(1n + 5),
  .stats__card__title::after,
  .playin__conference .first__round__up span::after,
  .playin__reverse .first__round__up span::after,
  .start__five__table th:nth-child(1n + 5),
  .start__five__table td:nth-child(1n + 5) {
    display: none;
  }

  .standings,
  .playoffs {
    padding: 0 25px;
  }

  .playoffs__grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .western__conference {
    grid-template-columns: auto 1fr 1fr auto 1fr auto;
    margin-inline-start: 45px;
    padding: 0 5px 0 10px;
  }

  .eastern__conference {
    grid-template-columns: auto 1fr 1fr auto 1fr auto;
    grid-auto-flow: dense;
    margin-inline-start: 45px;
    padding: 0 5px 0 10px;
    direction: ltr;
  }

  .conference__finals__up::after,
  .conference__finals__down::after {
    display: block;
  }

  .final__lines {
    display: none;
  }

  .final {
    top: 41%;
    right: 0;
    left: auto;
    margin-right: 0;
    margin-left: 0;
    background: var(--light-color);
  }

  .eastern__conference .team__logo img {
    transform: translate(-12px, -12px);
  }

  .eastern__conference::before,
  .eastern__conference::after {
    right: auto;
    left: -5px;
  }

  .eastern__conference .team__wins {
    margin-inline-start: 0;
    margin-inline-end: 4px;
  }

  .eastern__conference .conference__logo {
    right: 100%;
    left: auto;
  }

  .eastern__conference .team {
    flex-direction: row;
  }

  .eastern__conference .table_lines span {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  .playoffs__grid .team {
    inline-size: 85px;
  }

  .final .team {
    inline-size: 95px;
  }

  .playin__grid .stage__name {
    display: block;
  }

  .playin__grid {
    gap: clamp(1.25rem, -17.8236rem + 76.2943vw, 18.75rem);
  }

  .stats {
    margin: 0;
  }

  .stats__title:first-of-type {
    margin: 0;
    padding: 15px 25px 14px;
  }

  .stats__title:last-of-type {
    margin: 0;
    padding: 25px 25px 14px;
  }

  .player__stats,
  .team__stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .player__stats__card {
    margin: 0;
    padding: 25px 25px 35px;
    inline-size: 100%;
  }

  .player__stats .player__stats__card:not(:nth-child(1n + 12))::after,
  .team__stats .player__stats__card:not(:nth-child(1n + 10))::after,
  .player__awards__card:not(:nth-child(1n + 7))::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    border-block-end: 1px solid var(--line-main-color);
    inline-size: 100%;
  }

  .stats__card__main {
    position: relative;
    justify-content: flex-start;
  }

  .stats__card__main::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    display: block;
    background: url(https://svgshare.com/i/16Uz.svg) center/contain no-repeat;
    inline-size: 16px;
    block-size: 16px;
  }

  .stats__card__photo {
    align-self: center;
    inline-size: 60px;
    block-size: 60px;
  }

  .long__name {
    inline-size: max-content;
  }

  .stats__card__number {
    font-size: 40px;
  }

  .stats__card__double__photo {
    inline-size: 60px;
    block-size: 60px;
  }

  .stats__card__up__photo,
  .stats__card__down__photo {
    inline-size: 60px;
    block-size: 30px;
  }

  .double__photo {
    transform: translateY(-15px) rotate(45deg);
    inline-size: 60px;
    block-size: 60px;
  }

  .awards,
  .fits {
    margin: 0 25px;
  }

  .player__awards {
    grid-template-columns: 1fr;
    margin-block-start: -20px;
  }

  .player__awards__card {
    position: relative;
    margin: 0;
    padding: 20px 0;
  }

  .player__awards__photo {
    inline-size: 60px;
    block-size: 60px;
  }

  .player__awards__what {
    margin-block-start: 5px;
  }

  .player__awards__stats {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .all__team__player {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    margin-inline-start: -25px;
    padding: 20px 0 20px 25px;
    inline-size: calc(100% + 50px);
  }

  .all__team__club {
    margin-inline-start: 10px;
  }

  .team__start {
    margin: 0;
  }

  .team__start__image {
    padding: 0 25px;
  }

  .team__start__logo {
    inline-size: 30px;
  }

  .fits__card {
    margin-inline-start: -25px;
    inline-size: calc(100% + 50px);
  }

  .fits__name,
  .fits__groups__names {
    font-size: 16px;
  }

  .fits__firstname {
    font-size: 24px;
  }

  .fits__name__personal {
    font-size: 30px;
  }

  .fits__firstname__personal {
    font-size: 38px;
  }

  .footer {
    padding: 0 25px;
  }

  .footer__text {
    display: flex;
    flex-direction: column;
  }

  .social__media {
    border-top: 1px solid var(--line-main-color);
    inline-size: 100%;
  }

  .footer__links {
    align-self: start;
  }

  .footer__links__list {
    justify-content: start;
  }
}
